.root {
	-fx-font-family: "Verdana";
	-fx-background-color:black;
}

.button {
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-background-color:lightgrey;
    -fx-pref-height:50px;
    -fx-font-size: 25px;
}

.label {
    -fx-pref-height:50px;
    -fx-font-size: 25px;
    -fx-text-fill: lightgrey;
}

#profit {
    -fx-text-fill: #66ff00;
}

#loss {
    -fx-text-fill: #FF4A4A;
}

.table-view {
    -fx-background-color: black;
}

.table-view .cell {
    -fx-text-fill: lightgrey;
}

.table-view .column-header{
    -fx-background-color: black;
    -fx-border-width: 1px;
    -fx-border-color: grey;
}

.table-row-cell:empty {
    -fx-background-color: black;
}

.table-row-cell {
    -fx-background-color: black;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}